* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

html {
    font-size: 62.5%;
}
body {
    font-family: $font-sans-serif;
    font-size: 1.4rem;
    color: $global-color-1;
    background-color: $global-color-2;
    min-height: 100vh;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    padding: ($grid-gutter-width / 2) 0;

    @include media-breakpoint-up(sm) {
        padding: ($grid-gutter-width * 4) 0;
    }
}
a {
    transition: color .2s ease;
    color: $global-color-5;

    &:hover,
    &:focus {
        color: darken($global-color-5, 5%);
    }
}

b, strong {
    font-weight: $font-weight-medium;
}

/*----------  Input placeholder styling  ----------*/
::-webkit-input-placeholder {
    color: rgba(51, 51, 51, 0.3);
    font-family: "Noto Sans", sans-serif;
}
:-moz-placeholder {
    color: rgba(51, 51, 51, 0.3);
    font-family: "Noto Sans", sans-serif;
}
::-moz-placeholder {
    color: rgba(51, 51, 51, 0.3);
    font-family: "Noto Sans", sans-serif;
    opacity: 1; /* Since FF19 lowers the opacity of the placeholder by default */
}
:-ms-input-placeholder {
    color: rgba(51, 51, 51, 0.3);
    font-family: "Noto Sans", sans-serif;
}